<div *ngIf="form$ | async as form">
  <div *ngIf="vk$ | async as vk">
    <div *ngIf="viewModel$ | async as viewModel">
      <div *ngIf="inited$ | async">
        <form novalidate [formGroup]="form" cdkTrapFocus>
          <p-panel #mp [header]='header' [toggleable]="false">
            <p-toolbar *ngIf="!readonly">
              <div class="ui-toolbar-group-left">
                <button pButton type="button" id="Search" icon="fab fa-searchengin" label="Search"
                  pTooltip="Post and close" tooltipPosition="top" showDelay="2000" class="ui-button-warning"
                  (click)="executeServerMethod('search')"></button>
                <button pButton type="button" id="ExchangeData" icon="fas fa-exchange-alt" label="Fill exchange data"
                  class="ui-button-warning" (click)="executeServerMethod('fillExchangeData')"></button>
                <button pButton type="button" id="Replace" icon="fas fa-exchange-alt" label="Replace" pTooltip="Replace"
                  tooltipPosition="top" showDelay="2000" class="ui-button-danger"
                  (click)="executeServerMethod('replace')"></button>
              </div>
            </p-toolbar>

            <div fxLayout="column" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" cdkFocusInitial
              *ngIf="v$ | async as v">
              <div *ngIf="!readonly">
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="35px" fxLayoutGap.xs="0px"
                  *ngFor="let i of [0,3,6,9,12,15,18,21,24]">
                  <div fxFlex>
                    <j-control
                      *ngIf="v[i+0] && v[i+0].order > 0 && v[i+0].order !== 1000 && v[i+0].controlType !== 'table' && v[i+0].controlType !== 'script'"
                      [control]="v[i+0]" [form]="form"></j-control>
                  </div>
                  <div fxFlex>
                    <j-control
                      *ngIf="v[i+1] &&  v[i+1].order > 0 && v[i+1].order !== 1000 && v[i+1].controlType !== 'table' && v[i+1].controlType !== 'script'"
                      [control]="v[i+1]" [form]="form"></j-control>
                  </div>
                  <div fxFlex>
                    <j-control
                      *ngIf="v[i+2] && v[i+2].order > 0 && v[i+2].order !== 1000 && v[i+2].controlType !== 'table' && v[i+2].controlType !== 'script'"
                      [control]="v[i+2]" [form]="form"></j-control>
                  </div>
                </div>
              </div>

              <div *ngIf="tables$ | async as tables" style="padding-top: 20px;">
                <p-tabView *ngIf="tables.length" class="tabViewClassInForm">
                  <j-table-part-png (onDoubleClick)="openUsedInPage($event)" [formGroup]="form.controls[tables[0].key]"
                    [control]="tables[0]"></j-table-part-png>
                </p-tabView>
              </div>
              <ng-content></ng-content>
            </div>
          </p-panel>
        </form>
      </div>
    </div>
  </div>
</div>